-
  const numbers = [
    {
      number: "150",
      text: "> 150 заказчиков нам доверяют",
    },
    {
      number: "350",
      text: "> 350 полученных сертификаций вендоров&nbsp; <span> у&nbsp;сотрудников тех.департамента</span>",
      mod: "numbers__card--one-column",
      scroll: true,
      scrollSpeed: "-1"
    },
    {
      number: "40",
      text: "> 40 квалифицированных инженеров и архитекторов",
      scroll: true,
      scrollSpeed: "2"
    },
    {
      number: "20",
      text: "ТОП-20 поставщиков ИТ в ритейле в рейтинге CNews",
      mod: "numbers__card--one-column"
    },
    {
      number: "700",
      text: "> 700  проектов ежегодно",
      mod: "numbers__card--inner"
    },
  ]

section.numbers.page-section--large(data-scroll-section)
  .container
    .numbers__wrapper
      for item in numbers
        if item.scroll
          .numbers__card(class=`${item.mod ? item.mod : ''}` data-scroll data-scroll-speed=item.scrollSpeed)
            span.numbers__card-number= item.number
            p.numbers__card-text!= item.text
        else
          .numbers__card(class=`${item.mod ? item.mod : ''}`)
            span.numbers__card-number= item.number
            p.numbers__card-text!= item.text
